.main-screen-container{
    overflow-y: hidden;
}

.happy-family-container{
    background-image: url("../../Assets/happy-family.webp");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.passion{
    color: #412C21;
    font-size: 80px;
    width: 40%;
    margin-left: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.make-appointment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
}

.appointment-button{
    background-color: #2B201F;
    width: 290px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
}

.appointment-button:hover{
    opacity: 0.8;

}

.appointment-button a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.value-container{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.value-container h1{
    font-size: 50px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
        
}

.value-card{
    border-radius: 20px;
    width: 15vw;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.value-title{
    font-size: 40px;
    color: rgb(0, 55, 102);
    font-family: 'Times New Roman', Times, serif;
}

.value-image{
    height: 70px;
    margin-top: 1rem;
}

.doctor-info-container{
    width: 100%;
    height: 100vh;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctor-image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.doctor-image img{
    width: 600px;
}

.doctor-info{
    width: 100%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.doctor-details{
    width: 500px;
}

.doctor-info h1{
    color: rgb(0, 55, 102);
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin:0 0 1rem 0;
}

.doctor-info h2 {
    color: rgb(0, 55, 102);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.doctor-info h3{
    font-weight: 300;
    color:rgb(0, 127, 237);
    margin: 0;
}

.doctor-info p{
    font-size: 20px
}

.smaller{
    font-size: 16px!important;
}

.learn-more-button{
    width: 200px;
    height: 50px;
    background-color: #412C21;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.learn-more-button:hover{
    opacity: 0.8;
}

.learn-more{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.office-info-container {
    width: 100%;
    height: 120vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.office-title h1 {
    color: rgb(0, 55, 102);
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin: 0 0 1rem 0;
}

.office-info {
    width: 100%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.office-details {
    width: 800px;
}

.office-info p {
    font-size: 20px
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.directions-button{
    width: 200px;
    height: 50px;
    background-color: #60B2E8;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.directions-button:hover {
    opacity: 0.8;
}

.appointment{
    background-image: url("../../Assets/waves-bg.jpg");
    /* background-color: bisque; */
    width: 100%;
    height: 120vh;
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.appointment-title{
    /* color: beige;
    text-shadow: 2px 2px #412C21; */
    color:#0c003e;
    text-shadow: -1px -1px #fff;
    font-size: 80px;
    width: 40%;
    margin-left: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(20px); */

    /* background-color: #ededed80; */
}
.form-container form{
    width: fit-content;
    background-color: bisque;
    box-shadow: 11px 11px 41px 0px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 11px 11px 41px 0px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 11px 11px 41px 0px rgba(0, 0, 0, 0.73);
    margin: 0!important;
    padding: 1rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.full-wide{
    width: 100%;
}

.form-container h1{
    color: rgb(0, 6, 66);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.form-column label{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0.5rem;
    color: rgb(0, 3, 38);
}

.appointment-input{
    border: none;
    width: 500px;
    height: 50px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.appointment-input::placeholder{
    color: #000;
}

.appointment-input:focus {
    outline: none;
    border-bottom: #000 solid 2px;
}
.date{
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .happy-family-container{
        background-image: url("../../Assets/happy-family-mobile.png");
        background-size: cover
    }
    .passion{
        font-size: 50px;
        width: 100%;
        margin: 0;
        color: beige;
        text-shadow: 2px 2px #412C21;
        padding: 1rem;
    }
    .make-appointment{
        width: 100%;
    }
    .value-container{
        height: fit-content;
    }
    .value-container h1{
        font-size: 30px;
    }
    .cards{
        flex-direction: column;
    }
    .value-card{
        width: 90%;
        height: 100%;
    }
    .doctor-info-container{
        flex-direction: column;
        height: fit-content;
        padding: 1rem 0;
    }
    .doctor-info{
        margin:0;
        justify-content: center;
        align-items: center;
    }
    .doctor-details{
        width: 350px;
    }
    .doctor-image img{
        width: 300px
    }
    .doctor-image{
        justify-content: center;
    }
    .doctor-info h1{
        font-size: 40px;
    }
    .doctor-info h2{
        font-size: 25px;
    }
    .doctor-info h3{
        font-size: 20px;
    }
    .doctor-info p{
        font-size: 16px;
    }
    .smaller{
        font-size: 14px!important;
    }
    
    .office-info-container {
        flex-direction: column;
        height: fit-content;
        padding: 1rem 0;
        }
    
    .office-title h1 {
        font-size: 40px;
    }

    .office-info {
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .office-details {
        width: 350px;
    }

    .office-info p {
        font-size: 16px
    }

    .appointment-title {
        font-size: 40px;
    }
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .appointment-title{
        margin: 0 0 2rem 0!important;
        width: fit-content;
        font-size: 35px;
    }

    .appointment-input {
        border: none;
        width: 300px;
        height: 40px;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .form-container form{
        width: 80%;
        padding: 1rem!important;
    }
    
    .form-container label{
        font-size: 25px;
    }
    
    .form-container{
        width: 400px;
    }

    .form-container h1 {
        font-size: 30px;
    }

    .appointment-button{
        font-size: 20px;
        width: 250px;
        height: 65px;
    }
}